# macOS系统文件
.DS_Store
.AppleDouble
.LSOverride

# 缩略图
._*

# 可能出现在卷根目录的文件
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# 可能出现在远程AFP共享上的目录
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

bin/

# 忽略int文件夹
int/

# 忽略data目录下的所有内容，但保留目录结构
data/*
!data/.gitkeep

# VS Code 文件
.vscode/
*.code-workspace
.history/


